{% extends "base.html" %}
{% block content %}
    <h1>User Profile</h1>
    <form method="POST">
        <label>Student Name:</label><br>
        <input type="text" name="student_name" value="{{ settings.student_name }}"><br><br>
        
        <label>Monthly Income Target:</label><br>
        <input type="number" name="income_target" value="{{ settings.income_target }}"><br><br>
        
        <label>Currency Symbol:</label><br>
        <input type="text" name="currency" value="{{ settings.currency }}" maxlength="5"><br><br>
        
        <button type="submit">Save Settings</button>
    </form>
{% endblock %}